.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
}

.review_link {
    text-decoration: none;
}

.review_order {
    width: 100%;
    background: #FF9900;
    border-radius: 4px;
    border: 0;
    padding: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    transition: .3s ease all;
}

.review_order:hover{
    background: #f3a93b;
}



@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}